// mixing, compilation of properties that we can use and include to other css properties 
@mixin btn($bg-color: #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}


.btn{
    @include btn;
}


@each $key, $value in $colors {
    .btn-#{$key}{
        // we can pass arguments to the mixin
        @include btn($value);
        &:hover{
            background-color: lighten($value, 5)
        }
        
    }
    .btn-outlined-#{$key}{
        @include btn(white);
        &:hover{
            background-color: $value;
        }
        border: $base-border-thickness solid $value;
    }
}