// looping in a map 
// we gonna use the colors map, stored at the variables
@each $key, $value in $colors {
    .text-#{$key}{
        color: $value;
    }
    // hover using parent selectors 
    .text-hover-#{$key}{
        &:hover{
            color: $value;
        }
    }

    .bg-#{$key}{
        background-color: $value;
    }


    // conditionals and loops 
   @if ($value != black and $value != white) {
        @for $i from 1 through 9 {
            .text-#{$key}-light-#{$i} {
                color: mix(white, $value, $i * 10);
            }
            .text-hover-#{$key}-light-#{$i}{
                &:hover{
                    color: mix(white, $value, $i * 10);
                }
            }
            .bg-#{$key}-light-#{$i} {
                background-color: mix(white, $value, $i * 10);
            }
        }


        @for $i from 1 to 9 {
            .text-#{$key}-dark-#{$i}{
                color: mix(black, $value, $i * 10);
            }
            .text-hover-#{$key}-dark-#{$i}{
                &:hover{
                    color: mix(black, $value, $i * 10);
                }
            }
            .bg-#{$key}-dark-#{$i}{
                background-color: mix(black , $value, $i * 10);
            }
        } 
   } 
  
}

