// variables
$primary: rgb(77, 75, 208);
$secondary: rgb(88, 142, 75);
$error: rgb(212, 7, 7);
$info: rgb(228, 228, 26);

$base-padding: 1rem;
$base-margin: 1rem;

$base-border-thickness: 3px;
$base-border-radius: 10px;
